.container{
    margin-top:20px;
}

.list-group{
    border: 1px solid green;
    font-size: 10px;
    border-radius:5px;
}

.gray{
    border-radius:5px;
    background-color: gray;
    border: 1px solid black;
}

.blue{
    border-radius:5px;
    background-color: blue;
}

.list-title{
    background-color: gray;
    opacity: 0.85;
    color:white !important;
    text-align: center;
}

.list-title:hover{
    color:black !important;
}

.img-border{
    border: 1px solid green;
    border-radius: 5px;

    padding: 1px;
    margin-bottom: 3px;
}